.introduccion-galeria {
    h1 {
        color: brown;
        margin-top: 20px;
        margin-left: 25px;
    }
    main{
        background-color: white;
        p {
            color: gray;
            margin: 40px;
            text-align:left;
        }
    }
}

